.pkemon-list-wrapper{
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.pokemon-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.controls button{
    padding: 1rem 2rem 1rem 2rem;
    margin: 2rem 1rem;
    color: rgba(72, 41, 41, 0.67);
    border: 1px solid grey;
    border-radius: 8px;
    transition: 0.5s linear;
}
.controls button:hover{
    background-color: gray;
    pointer-events: fill;
    color: rgb(114, 80, 80);
    cursor: pointer;


}
@media (max-width: 600px){
    .pokemon-wrapper{
        display: flex;
        flex-direction: column;

    }
}