.outer-pokedex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#pokedex-heading{
    margin: 0 auto;
    letter-spacing: 5px;

}
a{
    color: #111111;
    text-decoration: none;
}